* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, 
    rgb(49, 48, 48), 
    rgb(27, 27, 27), 
    rgb(36, 35, 35), 
    rgb(36, 35, 35), 
    rgb(34, 33, 33), 
    rgb(37, 35, 35));
}

/* @ Picture Of The Day */
.pictureOfTheDay {
    display: block;
    width: 95%;
    margin: auto;
    border-radius: 3px;
    max-height: 300px; 
    object-fit: contain;
}


.title {
    color: whitesmoke;
    font-size: 20px;
    padding: 15px 0px;
    text-align: center;
}

.picture {
    color: rgb(0, 199, 123);
    font-size: 30px;
    padding: 15px 0px;
    text-align: center;
    font-weight: bold;
}

.copyright {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
    color: orange;
    font-weight: 600;
}

.date {
    border-radius: 2px;
    outline: none;
    border: none;
    padding: 6px 4px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: rgb(204, 204, 204);
    color: rgb(29, 27, 27);
    width: 100%;
}

.explanation {
    width: 90%;
    margin: auto;
    padding: 10px;
    color: rgb(185, 185, 181);
    line-height: 1.6em;
}

.video {
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: rgb(32, 63, 83);
    padding: 10px 0px;
}

.actualVideo {
    text-decoration: none;
    color: orange;
    display: inline-block;
    width: 100%;
}

/* @ NavBar */

.navtitle {
    color: whitesmoke;
    font-size: 32px;
    /* text-align: center; */
    padding: 10px;
    font-weight: bold;
}

.loading {
    font-size: 40px;
    color: orange;
    text-align: center;
}